<div class="container">
    <br />
    <h2>Address:</h2>
    <br />
    <h3>Principal</h3>
    <img src="~/images/contact.png" style="float: left; margin-right: 40px" />

    <h3>Mahatma Gandhi Teacher Training College</h3>
    <br />
    <b>Mandawar Road, Mahwa, Distt-Dausa -321608</b>
    <br />
    Mobile  :  +91-9414248140
    <br />
    Email : mahatmagandhittcollege@yahoo.in
    <br />
    <br />
    <br />
</div>
