<div class="container">
    <br />
    <div>
        <table class="tableizer-table">
            <tr class="tableizer-firstrow"><th>S.No</th><th>&nbsp;</th><th>&nbsp;</th></tr>
            <tr><td>a</td><td>Name Of The Institute</td><td>MAHATMA GANDHI INDUSTRIAL TRAINING INSTITUTE </td></tr>
            <tr><td>b</td><td>Address Of Institute</td><td>MANDAWAR ROAD , MAHWA (DAUSA)</td></tr>
            <tr><td>c</td><td>Date Of Establishment</td><td>&nbsp;</td></tr>
            <tr><td>d</td><td>DGET File Reference No.</td><td>DGET-06/20/45/2006-TC</td></tr>
            <tr><td>e</td><td>Code Allotted By DGET</td><td>&nbsp;</td></tr>
            <tr><td>f</td><td>Contact Nos.</td><td>07461-234234</td></tr>
            <tr><td>g</td><td>Mobile No.</td><td>9414248140</td></tr>
            <tr><td>h</td><td>Fax No.</td><td>07461-234234</td></tr>
            <tr><td>i</td><td>E-Mail ID</td><td>mgitcmahwap132@gmail.com</td></tr>
            <tr><td>j</td><td>Location-Rural/Urban</td><td>Rural</td></tr>
            <tr><td>k</td><td>Approach / How to Reach </td><td></td></tr>
        </table>

    </div>
    <br />
</div>