<div class="container">
    <br />
    <table width="98%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td valign="top"><strong class="text_keyword">ADMISSION-PROCEDURE  &nbsp;</strong></td>
        </tr>
        <tr>
            <td height="374" valign="top">
                <li>
                    Admissions are made every year normally in June to August. A Candidate seeking admission to any courses of training must get his/her name registered by submitting a duly completed &lsquo;REGISTRATION AND ADMISSION APPLICATION FORM&rsquo;, prescribed by the institute along with necessary documents and the requisite fee. Only one form is required to be filled in for consideration of admission to all courses offered by the Institute.<br />
                </li>
                <li>
                    Specific dates are fixed annually in accordance with the Training course schedule indicated in the prospectus issued by the Directorate of Technical Education, Govt. of Rajasthan, Jodhpur. A candidate who is admitted to any course in the Institute must join within 3 days of starting classes. In case he/she fails to join, his/her name will be deleted and all fees will be forfeited.<br />
                </li>
                <li>
                    The principal reserves the right to refuse admission to any candidate without assigning any reason what so ever, irrespective of his/her meeting the requirements for admission.<br />
                </li>
                <li>
                    In accordance with the rules of the Directorate of Technical Education, the Institute may also admit supernumerary candidates, to provide for any possible dropouts, to the limit of 30% of the authorized seats.<br />
                </li>
                <li>
                    In all matters relation to selection/admission and in the matter of interpretation of the above mentioned clauses, the decision of the management and the principal will be final and binding on all concerned.<br />
                </li>
                <li>
                    The particulars or part of that given by the candidate if found incorrect, the candidate can be expelled from Institute.<br />
                    <br />
                    <span class="hilight">The Documents to be attached with filled Admission Application Form.</span><br />
                    <ul>
                        <li>Latest Passport size Photograph (6 Nos.)</li>
                        <li>Original Mark sheet of 10th class and 4 nos. photocopies of the same (For all Trades)</li>
                        <li>Original Caste Certificate and attested 4 nos. photocopies of the same.</li>
                        <li>Original State Domicile Certificate and attested 4 nos. photocopies of the same. </li>
                    </ul>
                </li>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <span class="hilight"><strong>AGE LIMIT</strong>:-</span> The Candidate should have attained the age of 14 years but should not be more than 40 years on 1st August of the admission year.<br />
                <br />
                <span class="hilight">FITNESS:-</span><br />
                1.&nbsp;&nbsp;&nbsp;The Candidate should be mentally and physically fit and should  meet the minimum physical standards prescribed by this institute and  the Directorate of Technical Education, as applicable. <br />
                2.&nbsp;&nbsp;&nbsp;The Candidate should not be suffering from any infections of  contagious disease, or any physical deficiency or deformity which makes  him/her unsuitable for the trade he/she wishes to join.<br />
                <span class="hilight">
                    <br />
                    <strong>MINIMUM EDUCATIONAL QUALIFICATION</strong>:-
                </span><br />
                The following table shows the minimum educational qualification necessary for admission to various courses of Training.&nbsp;
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td valign="top">
                <p><span class="hilight">Registration Fee:</span> This fee is charged once only at the time of registration and is meant to contribute towards development expenditure.</p>
                <p> <span class="hilight">Annual Fee:</span> This fee is charged every year at the time of admission of new students and on the First day of joining in every new session to continue training.</p>
                <p> <span class="hilight">Examination Fee:</span> This fee is charged at the time of submission of examination forms to the Directorate of Technical Education in accordance with the rates fixed by them. This fee is payable separately for each examination along with additional charges levied if paid late.</p>
                <p> <span class="hilight">Prospectus:-</span>The Prospectus and admission form can be received from the following address either personally by paying Rs50/- or sending a D.D. of Rs.75/- with a self addressed envelope.</p>
                <p>Other charges (Miscellaneous): </p>
                <p>
                    (a)   Readmission fee &#64; 200.00 will be charged in all cases where a Trainee rejoins once his name is struck off on any account.<br />
                    (b)   A nominal charge Rs. 20.00 will be levied for each duplicate certificate of any type and for any such certificate which is not issued by the institute as a routine.<br />
                    (c)   Fine of Rs. 05.00 per day of unauthorized absence and also for late payments of fee will be charged, up to a period of 7 days, after which the name of the defaulter will be removed from the rolls.
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p class="hilight"><strong>CONDUCT AND DISCIPLINE</strong></p>
                <p> The trainees should maintain discipline / conduct  within and outside the premises of the institute. They should also Well Acquinted  by the disciplinary rules of the institution laid down from time to time. The institute has the right to take Disciplinary action against any trainee at any time for reason deemed sufficient.  80% attendance shall be necessary during training and compulsory for appearing at final Examination. In case of low attendance, unsatisfactory performance, violating the rules and regulations and not obeying the Instructions time to time, the principal has right to suspend/expel from Institute. In special cases, by permission of the principal, these candidates can be readmitted after payment of Rs. 200/- as readmission fees. No kind of fees shall be refunded in case a candidate leaves or expelled from Institute. </p>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">&nbsp;</td>
        </tr>
    </table></td>
    </tr>
    </table>


    <table width="90%">
        <tr>
            <td><b>Name of Course</b></td>
            <td><b>Duration</b></td>
            <td><b>Tentative Date of Course</b></td>
            <td><b>When to apply</b></td>
            <td><b>Application Format</b></td>
        </tr>
        <tr>
            <td>Electrician</td>
            <td>2&nbsp;</td>
            <td>11 Aug</td>
            <td>July</td>
            <td>
                <a href="~/docs/addmissionform.pdf">Application Form</a>
            </td>
        </tr>
        <tr>
            <td>Fitter</td>
            <td>2</td>
            <td>11 Aug</td>
            <td>July</td>
            <td> <a href="~/docs/addmissionform.pdf">Application Form</a></td>
        </tr>
        <tr>
            <td>Mechanic Diesel</td>
            <td>1</td>
            <td>11 Aug</td>
            <td>July</td>
            <td> <a href="~/docs/addmissionform.pdf">Application Form</a></td>
        </tr>
        <tr>
            <td>Electro Mechanic</td>
            <td>2</td>
            <td>11 Aug</td>
            <td>Jult</td>
            <td> <a href="~/docs/addmissionform.pdf">Application Form</a></td>
        </tr>
    </table>
<br />
</div>