<div class="container">
    <br />
    <h4>Court Cases Status</h4>
    in which court, institute/Management Committee/Trainer are party.
    <table width="80%">
        <tr>
            <td><b>CWP No/Name of Court</b></td>
            <td><b>Year</b></td>
            <td><b>Issue</b></td>
            <td><b>Status</b></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <h5>There is not any court case against institute/Management Committee/Trainer</h5>
<br />
</div>