<div class="container">
    <br />
</div>
    <table border="1" cellspacing="0" cellpadding="0" width="90%">
        <tbody>
            <tr>
                <th>

                    <strong>Sr.</strong>

                </th>
                <th>

                    <strong>Particulars</strong>

                </th>
                <th>

                    <strong>No. Of Computer</strong>
                </th>
            </tr>
            <tr>
                <td>
                    1.

                </td>
                <td>
                    Computer in Lab

                </td>
                <td>

                    20

                </td>
            </tr>
            <tr>
                <td>
                    2.

                </td>
                <td>
                    Printers

                </td>
                <td>

                    1

                </td>
            </tr>
            <tr>
                <td>
                    3.

                </td>
                <td>
                    Modem

                </td>
                <td>

                    2

                </td>
            </tr>
            <tr>
                <td>
                    4

                </td>
                <td>
                    Router

                </td>
                <td>

                    2

                </td>
            </tr>
            <tr>
                <td>
                    5

                </td>
                <td>
                    Television

                </td>
                <td>

                    1

                </td>
            </tr>
            <tr>
                <td>
                    6

                </td>
                <td>
                    DVD

                </td>
                <td>

                    1

                </td>
            </tr>
            <tr>
                <td>
                    7

                </td>
                <td>
                    OHP

                </td>
                <td>

                    1

                </td>
            </tr>
            <tr>
                <td>
                    8

                </td>
                <td>
                    Slide Projector

                </td>
                <td>

                    1

                </td>
            </tr>
            <tr>
                <td>
                    9

                </td>
                <td>
                    Tape Recorder

                </td>
                <td>

                    1

                </td>
            </tr>
            <tr>
                <td>
                    10

                </td>
                <td>
                    Speaker

                </td>
                <td>

                    2

                </td>
            </tr>
            <tr>
                <td>
                    11

                </td>
                <td>
                    Electronic Mike

                </td>
                <td>

                    1

                </td>
            </tr>
            <tr>
                <td>
                    12

                </td>
                <td>
                    Amplifier

                </td>
                <td>

                    1

                </td>
            </tr>
        </tbody>
    </table>
<div class="container">
    <br />
</div>