
@{
    ViewBag.Title = "ComputerLab";
}

<table border="0" cellspacing="0" cellpadding="0" width="90%" class="tableizer-table">
    <tbody>
        <tr>
            <td valign="top">
                E.T. &amp; Computer Lab

            </td>
        </tr>
        <tr>
            <td>
                • <strong>Area : </strong>56.27 sq. mt.
                <br />
                • <strong>Furniture Provided : </strong>20 Computer Table, 20 Chairs, 1 Almari

                <table border="1" cellspacing="0" cellpadding="0" align="left" width="90%">
                    <tbody>
                        <tr>
                            <th>

                                <strong>Sr.</strong>

                            </th>
                            <th>

                                <strong>Particulars</strong>

                            </th>
                            <th>

                                <strong>No. Of Computer</strong>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                1.

                            </td>
                            <td>
                                Computer in Lab

                            </td>
                            <td>

                                20

                            </td>
                        </tr>
                        <tr>
                            <td>
                                2.

                            </td>
                            <td>
                                Printers

                            </td>
                            <td>

                                1

                            </td>
                        </tr>
                        <tr>
                            <td>
                                3.

                            </td>
                            <td>
                                Modem

                            </td>
                            <td>

                                2

                            </td>
                        </tr>
                        <tr>
                            <td>
                                4

                            </td>
                            <td>
                                Router

                            </td>
                            <td>

                                2

                            </td>
                        </tr>
                        <tr>
                            <td>
                                5

                            </td>
                            <td>
                                Television

                            </td>
                            <td>

                                1

                            </td>
                        </tr>
                        <tr>
                            <td>
                                6

                            </td>
                            <td>
                                DVD

                            </td>
                            <td>

                                1

                            </td>
                        </tr>
                        <tr>
                            <td>
                                7

                            </td>
                            <td>
                                OHP

                            </td>
                            <td>

                                1

                            </td>
                        </tr>
                        <tr>
                            <td>
                                8

                            </td>
                            <td>
                                Slide Projector

                            </td>
                            <td>

                                1

                            </td>
                        </tr>
                        <tr>
                            <td>
                                9

                            </td>
                            <td>
                                Tape Recorder

                            </td>
                            <td>

                                1

                            </td>
                        </tr>
                        <tr>
                            <td>
                                10

                            </td>
                            <td>
                                Speaker

                            </td>
                            <td>

                                2

                            </td>
                        </tr>
                        <tr>
                            <td>
                                11

                            </td>
                            <td>
                                Electronic Mike

                            </td>
                            <td>

                                1

                            </td>
                        </tr>
                        <tr>
                            <td>
                                12

                            </td>
                            <td>
                                Amplifier

                            </td>
                            <td>

                                1

                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

