
@{
    ViewBag.Title = "Laborator";
}

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="left" valign="top" height="30px">
                <p class="content-title">
                    <strong>Science Lab</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td align="left" valign="middle">
                <p>
                    &bull;&nbsp;&nbsp;<strong>Area : </strong>54.54 Sq. Mt. <br />
                    &bull;&nbsp;&nbsp;<strong>
                        Furniture Provided :
                    </strong>1 Central Table, 15 Stool, 1 Almari<br />
                    &bull;&nbsp;&nbsp;<strong>
                        Two Wash Basing :
                    </strong>
                    <br />
                    &bull;&nbsp;&nbsp;<strong>STAND SIZE : </strong>
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;<strong>Length : </strong>436.6" ft.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;<strong>
                        Width :
                    </strong>2.3" ft.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;<strong>
                        Height :
                    </strong>3.1" ft.
                </p>
                <p class="content-title">
                    A : Chemistry Laboratory
                </p>
                <table border="1" align="left" cellpadding="3" cellspacing="0" bordercolor="#e1e1e1" style="border-collapse: collapse" width="80%">
                    <tr>
                        <td width="25" align="right" style="padding-right: 7px">
                            <strong>Sr.</strong>
                        </td>
                        <td style="padding-left: 7px">
                            <strong>Name of the Equipment/Training Kit/Experiment</strong>
                        </td>
                        <td align="center">
                            <strong>Make</strong>
                        </td>
                        <td align="center">
                            <strong>Qnty</strong>
                        </td>
                        <td align="center">
                            <strong>Srno of the Practical from syllabus for which item is used</strong>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">1.</td>
                        <td style="padding-left: 7px">Watch Glass</td>
                        <td align="center">-</td>
                        <td align="center">21</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">2.</td>
                        <td style="padding-left: 7px">Water Bottel</td>
                        <td align="center">-</td>
                        <td align="center">12</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">3.</td>
                        <td style="padding-left: 7px">Filter Paper</td>
                        <td align="center">-</td>
                        <td align="center">04</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">4.</td>
                        <td style="padding-left: 7px">Glass Rod</td>
                        <td align="center">-</td>
                        <td align="center">03</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">5.</td>
                        <td style="padding-left: 7px">Burner</td>
                        <td align="center">-</td>
                        <td align="center">06</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">6.</td>
                        <td style="padding-left: 7px">Test Tube Stand</td>
                        <td align="center">-</td>
                        <td align="center">02</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">7.</td>
                        <td style="padding-left: 7px">Test Tube</td>
                        <td align="center">-</td>
                        <td align="center">02</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">8.</td>
                        <td style="padding-left: 7px">Test Tube Bolders</td>
                        <td align="center">-</td>
                        <td align="center">12</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">9.</td>
                        <td style="padding-left: 7px">Tounge</td>
                        <td align="center">-</td>
                        <td align="center">12</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">10.</td>
                        <td style="padding-left: 7px">Litmus Paper</td>
                        <td align="center">-</td>
                        <td align="center">04</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">11.</td>
                        <td style="padding-left: 7px">Clinical Thermameter</td>
                        <td align="center">-</td>
                        <td align="center">03</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">12.</td>
                        <td style="padding-left: 7px">Reagent Bottle ( Glass )</td>
                        <td align="center">-</td>
                        <td align="center">12</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">13.</td>
                        <td style="padding-left: 7px">Wire Gauage</td>
                        <td align="center">-</td>
                        <td align="center">11</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">14.</td>
                        <td style="padding-left: 7px">Burette Stand</td>
                        <td align="center">-</td>
                        <td align="center">06</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">15.</td>
                        <td style="padding-left: 7px">Funnel</td>
                        <td align="center">-</td>
                        <td align="center">11</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">16.</td>
                        <td style="padding-left: 7px">Atomic Model Set</td>
                        <td align="center">-</td>
                        <td align="center">01</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">17.</td>
                        <td style="padding-left: 7px">Thermameter ( min./max. )</td>
                        <td align="center">-</td>
                        <td align="center">02</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">18.</td>
                        <td style="padding-left: 7px">Pipette ( 20ml. Glass )</td>
                        <td align="center">-</td>
                        <td align="center">12</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">19.</td>
                        <td style="padding-left: 7px">Beaker ( 500 ml. )</td>
                        <td align="center">-</td>
                        <td align="center">06</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">20.</td>
                        <td style="padding-left: 7px">Lable book</td>
                        <td align="center">-</td>
                        <td align="center">05</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">21.</td>
                        <td style="padding-left: 7px">Rubber cork&rsquo;s</td>
                        <td align="center">-</td>
                        <td align="center">13</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">22.</td>
                        <td style="padding-left: 7px">Copper Boiler Cap. - 1lit.</td>
                        <td align="center">-</td>
                        <td align="center">01</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">23.</td>
                        <td style="padding-left: 7px">Lactometer 34 Deg. F.</td>
                        <td align="center">-</td>
                        <td align="center">02</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">24.</td>
                        <td style="padding-left: 7px">Lactometer Jar P.P.</td>
                        <td align="center">-</td>
                        <td align="center">02</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">25.</td>
                        <td style="padding-left: 7px">Crystal model of Diamond</td>
                        <td align="center">-</td>
                        <td align="center">01</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">26.</td>
                        <td style="padding-left: 7px">Crystal model of grafahit</td>
                        <td align="center">-</td>
                        <td align="center">01</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">27.</td>
                        <td style="padding-left: 7px">Crystal model of Nacl</td>
                        <td align="center">-</td>
                        <td align="center">01</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">28.</td>
                        <td style="padding-left: 7px">Tripod stand triangular</td>
                        <td align="center">-</td>
                        <td align="center">02</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">29.</td>
                        <td style="padding-left: 7px">Copper water Bath &ndash; 6&rdquo;</td>
                        <td align="center">-</td>
                        <td align="center">01</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">30.</td>
                        <td style="padding-left: 7px">Flask R.B. long neck ( Retort )</td>
                        <td align="center">-</td>
                        <td align="center">01</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">31.</td>
                        <td style="padding-left: 7px">Flask Volumetric with intercha</td>
                        <td align="center">-</td>
                        <td align="center">01</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">32.</td>
                        <td style="padding-left: 7px">Bell jar with ground stopper no.</td>
                        <td align="center">-</td>
                        <td align="center">01</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">33.</td>
                        <td style="padding-left: 7px">Woulf bottle</td>
                        <td align="center">-</td>
                        <td align="center">01</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">34.</td>
                        <td style="padding-left: 7px">Thistle Funnel</td>
                        <td align="center">-</td>
                        <td align="center">06</td>
                        <td align="center">Science Practical</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left" valign="middle">
                <br />
                <p class="content-title">
                    B : Physics  Laboratory
                </p>
                <table border="1" align="left" cellpadding="3" cellspacing="0" bordercolor="#e1e1e1" style="border-collapse: collapse">
                    <tr>
                        <td width="25" align="right" style="padding-right: 7px">
                            <strong>Sr.</strong>
                        </td>
                        <td style="padding-left: 7px">
                            <strong>Name of the Equipment/Training Kit/Experiment</strong>
                        </td>
                        <td align="center">
                            <strong>Make</strong>
                        </td>
                        <td align="center">
                            <strong>Qnty</strong>
                        </td>
                        <td align="center">
                            <strong>Srno of the Practical from syllabus for which item is used</strong>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">1.</td>
                        <td style="padding-left: 7px">Scruagage</td>
                        <td align="center">-</td>
                        <td align="center">1</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">2.</td>
                        <td style="padding-left: 7px">Spring Balance</td>
                        <td align="center">-</td>
                        <td align="center">2</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">3.</td>
                        <td style="padding-left: 7px">Plain mirror</td>
                        <td align="center">-</td>
                        <td align="center">6</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">4.</td>
                        <td style="padding-left: 7px">Thermameter ( 110 C- 236 C )</td>
                        <td align="center">-</td>
                        <td align="center">6</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">5.</td>
                        <td style="padding-left: 7px">Hydrometer</td>
                        <td align="center">-</td>
                        <td align="center">1</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">6.</td>
                        <td style="padding-left: 7px">Spherometer</td>
                        <td align="center">-</td>
                        <td align="center">1</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">7.</td>
                        <td style="padding-left: 7px">Glass Prism ( Small )</td>
                        <td align="center">-</td>
                        <td align="center">2</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">8.</td>
                        <td style="padding-left: 7px">Room Thermameter</td>
                        <td align="center">-</td>
                        <td align="center">1</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">9.</td>
                        <td style="padding-left: 7px">Electromagnet</td>
                        <td align="center">-</td>
                        <td align="center">2</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">10.</td>
                        <td style="padding-left: 7px">Convex lense</td>
                        <td align="center">-</td>
                        <td align="center">6</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">11.</td>
                        <td style="padding-left: 7px">Concave &amp; Convax &ndash; Optical lense</td>
                        <td align="center">-</td>
                        <td align="center">6</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">12.</td>
                        <td style="padding-left: 7px">Vernior caliper&rsquo;s</td>
                        <td align="center">-</td>
                        <td align="center">1</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">13.</td>
                        <td style="padding-left: 7px">Magnetic Compass</td>
                        <td align="center">-</td>
                        <td align="center">4</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">14.</td>
                        <td style="padding-left: 7px">Pully &amp; Hook</td>
                        <td align="center">-</td>
                        <td align="center">3</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">15.</td>
                        <td style="padding-left: 7px">Drawing Board ( Wooden )</td>
                        <td align="center">-</td>
                        <td align="center">5</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">16.</td>
                        <td style="padding-left: 7px">Plain mirror Stand</td>
                        <td align="center">-</td>
                        <td align="center">6</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">17.</td>
                        <td style="padding-left: 7px">Model of Dynamo</td>
                        <td align="center">-</td>
                        <td align="center">1</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">18.</td>
                        <td style="padding-left: 7px">Electric motor</td>
                        <td align="center">-</td>
                        <td align="center">1</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">19.</td>
                        <td style="padding-left: 7px">Solar cooker</td>
                        <td align="center">-</td>
                        <td align="center">1</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">20.</td>
                        <td style="padding-left: 7px">Stop clock</td>
                        <td align="center">-</td>
                        <td align="center">1</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">21.</td>
                        <td style="padding-left: 7px">Telescope model</td>
                        <td align="center">-</td>
                        <td align="center">1</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">22.</td>
                        <td style="padding-left: 7px">Ameter</td>
                        <td align="center">-</td>
                        <td align="center">1</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">23.</td>
                        <td style="padding-left: 7px">Voltameter</td>
                        <td align="center">-</td>
                        <td align="center">1</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">24.</td>
                        <td style="padding-left: 7px">Cell Box</td>
                        <td align="center">-</td>
                        <td align="center">1</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">25.</td>
                        <td style="padding-left: 7px">Aneroid Barometer</td>
                        <td align="center">-</td>
                        <td align="center">1</td>
                        <td align="center">Science Practical</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left" valign="middle">
                <br />
                <p class="content-title">
                    C : Biology Laboratory
                </p>
                <table border="1" align="left" cellpadding="3" cellspacing="0" bordercolor="#e1e1e1" style="border-collapse: collapse">
                    <tr>
                        <td width="25" align="right" style="padding-right: 7px">
                            <strong>Sr.</strong>
                        </td>
                        <td style="padding-left: 7px">
                            <strong>Name of the Equipment/Training Kit/Experiment</strong>
                        </td>
                        <td align="center">
                            <strong>Make</strong>
                        </td>
                        <td align="center">
                            <strong>Qnty</strong>
                        </td>
                        <td align="center">
                            <strong>Srno of the Practical from syllabus for which item is used</strong>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">1.</td>
                        <td style="padding-left: 7px">Cover Slip</td>
                        <td align="center">-</td>
                        <td align="center">04 Boxes</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">2.</td>
                        <td style="padding-left: 7px">Dissection Box</td>
                        <td align="center">-</td>
                        <td align="center">01 Box</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">3.</td>
                        <td style="padding-left: 7px">Dissecting Needle</td>
                        <td align="center">-</td>
                        <td align="center">11</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">4.</td>
                        <td style="padding-left: 7px">Plain Slide</td>
                        <td align="center">-</td>
                        <td align="center">01 Packet</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">5.</td>
                        <td style="padding-left: 7px">Droping Bottle</td>
                        <td align="center">-</td>
                        <td align="center">12</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">6.</td>
                        <td style="padding-left: 7px">Dark Box</td>
                        <td align="center">-</td>
                        <td align="center">01</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">7.</td>
                        <td style="padding-left: 7px">Concave Lens</td>
                        <td align="center">-</td>
                        <td align="center">12</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">8.</td>
                        <td style="padding-left: 7px">Bell Jar</td>
                        <td align="center">-</td>
                        <td align="center">01</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">9.</td>
                        <td style="padding-left: 7px">Compound Microscofx</td>
                        <td align="center">-</td>
                        <td align="center">01</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">10.</td>
                        <td style="padding-left: 7px">Dropper with Test</td>
                        <td align="center">-</td>
                        <td align="center">12</td>
                        <td align="center">Science Practical</td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 7px">11.</td>
                        <td style="padding-left: 7px">Lactometer</td>
                        <td align="center">-</td>
                        <td align="center">05</td>
                        <td align="center">Science Practical</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="15px" align="center" valign="middle"></td>
        </tr>
    </table>

