
@{
    ViewBag.Title = "Library";
}

<p>
    <strong><u>Library</u></strong>
</p>
<p>
    Area :- <strong>94.86 Sq. mt</strong>.
</p>
<p>
    Furniture Provided :- Center Table- 6, Chairs- 40, Close Racks- 26, Open Racks- 1,
</p>
<p>
    Magazine Stand, -1 Almari- 1
</p>
<p>
    A: Book
</p>
<table border="1" cellspacing="0" cellpadding="0" width="99%">
    <tbody>
        <tr>
            <td>
                <p align="center">
                    <strong>Sr.</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    <strong>Subject</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    <strong>No. of books as per syllabus</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    <strong>No. of Reference books</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    1
                </p>
            </td>
            <td>
                <p align="center">
                    Understanding Disciplines And Subject
                </p>
            </td>
            <td>
                <p align="center">
                    225
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    2
                </p>
            </td>
            <td>
                <p align="center">
                    Childhood and Growing Up
                </p>
            </td>
            <td>
                <p align="center">
                    250
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    3
                </p>
            </td>
            <td>
                <p align="center">
                    Contemporary India and Education
                </p>
            </td>
            <td>
                <p align="center">
                    300
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    4
                </p>
            </td>
            <td>
                <p align="center">
                    Learning and Teaching
                </p>
            </td>
            <td>
                <p align="center">
                    300
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    5
                </p>
            </td>
            <td>
                <p align="center">
                    Knowledge and Curriculum
                </p>
            </td>
            <td>
                <p align="center">
                    300
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    6
                </p>
            </td>
            <td>
                <p align="center">
                    Language Across The Curriculum
                </p>
            </td>
            <td>
                <p align="center">
                    225
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    7
                </p>
            </td>
            <td>
                <p align="center">
                    Contemporary India and Education
                </p>
            </td>
            <td>
                <p align="center">
                    250
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    8
                </p>
            </td>
            <td>
                <p align="center">
                    Pedagogy of Commerce
                </p>
            </td>
            <td>
                <p align="center">
                    250
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    9
                </p>
            </td>
            <td>
                <p align="center">
                    Childs and Learning
                </p>
            </td>
            <td>
                <p align="center">
                    250
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    10
                </p>
            </td>
            <td>
                <p align="center">
                    Drama and Arts in Education
                </p>
            </td>
            <td>
                <p align="center">
                    225
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    11
                </p>
            </td>
            <td>
                <p align="center">
                    Language Across The Curriculum- Part- I
                </p>
            </td>
            <td>
                <p align="center">
                    225
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    12
                </p>
            </td>
            <td>
                <p align="center">
                    Assessment For Learning
                </p>
            </td>
            <td>
                <p align="center">
                    100
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    13
                </p>
            </td>
            <td>
                <p align="center">
                    Creating and Inclusive School
                </p>
            </td>
            <td>
                <p align="center">
                    100
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    14
                </p>
            </td>
            <td>
                <p align="center">
                    Gender, School and Society
                </p>
            </td>
            <td>
                <p align="center">
                    100
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    15
                </p>
            </td>
            <td>
                <p align="center">
                    Yoga Education
                </p>
            </td>
            <td>
                <p align="center">
                    21
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    16
                </p>
            </td>
            <td>
                <p align="center">
                    Edu. In Emerging Indian Society
                </p>
            </td>
            <td>
                <p align="center">
                    360
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    17
                </p>
            </td>
            <td>
                <p align="center">
                    Dev. If Lear. &amp; Learning Process
                </p>
            </td>
            <td>
                <p align="center">
                    265
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    18
                </p>
            </td>
            <td>
                <p align="center">
                    Edu. Sys. of India &amp; School Org.
                </p>
            </td>
            <td>
                <p align="center">
                    230
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    19
                </p>
            </td>
            <td>
                <p align="center">
                    Essen. of Edu. Teach. And Classroom MGT
                </p>
            </td>
            <td>
                <p align="center">
                    246
                </p>
            </td>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    20
                </p>
            </td>
            <td>
                <p align="center">
                    Teaching of Hindi
                </p>
            </td>
            <td>
                <p align="center">
                    105
                </p>
            </td>
            <td valign="top"></td>
        </tr>

        <tr>
            <td>
                <p align="center">
                    21
                </p>
            </td>
            <td>
                <p align="center">
                    Teaching of Social Study
                </p>
            </td>
            <td>
                <p align="center">
                    155
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    22
                </p>
            </td>
            <td>
                <p align="center">
                    Teaching of Civics
                </p>
            </td>
            <td>
                <p align="center">
                    77
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    23
                </p>
            </td>
            <td>
                <p align="center">
                    Teaching of Geography
                </p>
            </td>
            <td>
                <p align="center">
                    105
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    24
                </p>
            </td>
            <td>
                <p align="center">
                    Teaching of History
                </p>
            </td>
            <td>
                <p align="center">
                    105
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    25
                </p>
            </td>
            <td>
                <p align="center">
                    Teaching of English
                </p>
            </td>
            <td>
                <p align="center">
                    150
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    26
                </p>
            </td>
            <td>
                <p align="center">
                    Teaching of Computer
                </p>
            </td>
            <td>
                <p align="center">
                    120
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    27
                </p>
            </td>
            <td>
                <p align="center">
                    Teaching of Economics
                </p>
            </td>
            <td>
                <p align="center">
                    55
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    28
                </p>
            </td>
            <td>
                <p align="center">
                    Teaching of Biology
                </p>
            </td>
            <td>
                <p align="center">
                    50
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    29
                </p>
            </td>
            <td>
                <p align="center">
                    Teaching of Science
                </p>
            </td>
            <td>
                <p align="center">
                    50
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    30
                </p>
            </td>
            <td>
                <p align="center">
                    Teaching of Physics
                </p>
            </td>
            <td>
                <p align="center">
                    55
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    31
                </p>
            </td>
            <td>
                <p align="center">
                    Teaching of Arts
                </p>
            </td>
            <td>
                <p align="center">
                    65
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    32
                </p>
            </td>
            <td>
                <p align="center">
                    Teaching of Sanskrit
                </p>
            </td>
            <td>
                <p align="center">
                    105
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    33
                </p>
            </td>
            <td>
                <p align="center">
                    Teaching of Home Science
                </p>
            </td>
            <td>
                <p align="center">
                    90
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    34
                </p>
            </td>
            <td>
                <p align="center">
                    Teaching of Commerce
                </p>
            </td>
            <td>
                <p align="center">
                    105
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    35
                </p>
            </td>
            <td>
                <p align="center">
                    Paryavaran Shiksha
                </p>
            </td>
            <td>
                <p align="center">
                    110
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    35
                </p>
            </td>
            <td>
                <p align="center">
                    JanSankhya Shiksha
                </p>
            </td>
            <td>
                <p align="center">
                    80
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    36
                </p>
            </td>
            <td>
                <p align="center">
                    Naitik Shiksha
                </p>
            </td>
            <td>
                <p align="center">
                    70
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p align="center">
                    <strong>Total Text Books</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    5874
                </p>
            </td>
            <td>
                <p align="center">
                    -
                </p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p align="center">
                    <strong>Total Reference Books</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    <strong>555</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    <strong>556</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p align="center">
                    <strong>Grand Total</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    <strong>6429</strong>
                </p>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
<br />
<br />
<p>
    <strong>B : Journals/Magazines</strong>
</p>
<table border="1" cellspacing="0" cellpadding="0" align="left" width="99%">
    <tbody>
        <tr>
            <td>
                <p align="right">
                    <strong>Sr.</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    <strong>Subject</strong>
                </p>
            </td>
            <td>
                <p>
                    <strong>Name of Journals Subscribed</strong>
                </p>
            </td>
            <td>
                <p>
                    <strong>Frequency (Weekly, Monthly etc.)</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    1.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Shibir
                </p>
            </td>
            <td>
                <p>
                    Monthly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    2.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Nayi Shiksha
                </p>
            </td>
            <td>
                <p>
                    Monthly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    3.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Shiksha Chintan
                </p>
            </td>
            <td>
                <p>
                    Monthly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    4.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Quest in Education
                </p>
            </td>
            <td>
                <p>
                    Quarterly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    5.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Indian Educational Abstracts
                </p>
            </td>
            <td>
                <p>
                    Half Yearly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    6.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    India Today
                </p>
            </td>
            <td>
                <p>
                    Weekly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    7.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Anuvrat
                </p>
            </td>
            <td>
                <p>
                    Fortnightly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    8.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Outlook
                </p>
            </td>
            <td>
                <p>
                    Monthly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    9.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Pratiyogita Darpan
                </p>
            </td>
            <td>
                <p>
                    Monthly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    10.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Maanak
                </p>
            </td>
            <td>
                <p>
                    Monthly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    11.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Pratyush
                </p>
            </td>
            <td>
                <p>
                    Monthly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    12.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Bal Vatika
                </p>
            </td>
            <td>
                <p>
                    Monthly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    13.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Kamdhenu Kalyan
                </p>
            </td>
            <td>
                <p>
                    Monthly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    14.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Shashwat Dharma
                </p>
            </td>
            <td>
                <p>
                    Monthly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    15.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Shree AmarBharati
                </p>
            </td>
            <td>
                <p>
                    Monthly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    16.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Madhumati
                </p>
            </td>
            <td>
                <p>
                    Monthly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    17.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Yuva Drashti
                </p>
            </td>
            <td>
                <p>
                    Monthly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    18.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Jaagati jog
                </p>
            </td>
            <td>
                <p>
                    Monthly
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    19.
                </p>
            </td>
            <td>
                <p>
                    Education
                </p>
            </td>
            <td>
                <p>
                    Meerayan
                </p>
            </td>
            <td>
                <p>
                    Half Yearly
                </p>
            </td>
        </tr>
    </tbody>
</table>

