
@{
    ViewBag.Title = "SportsFacilites";
}

<table width="100%" border="0" cellspacing="0" cellpadding="0">

    <tr>
        <td height="15px" align="center" valign="middle" class="content"> </td>
    </tr>
    <tr>
        <td align="left" valign="top" class="content" height="30px">
            <p class="content-title">
                <strong>Sports</strong>
            </p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle" class="content">
            <p class="content-title">A : Play Ground</p>
            <p>&bull;&nbsp;&nbsp;<strong>Area : </strong>13980.28 sq. mt.</p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle" class="content">
            <br /><p class="content-title">B : Indoor games</p>
            <p>
                &bull;&nbsp;&nbsp;<strong>Chess</strong><br />
                &bull;&nbsp;&nbsp;<strong>Carrom</strong>
            </p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle" class="content">
            <br /><p class="content-title">C : Other sports</p>
            <p>
                &bull;&nbsp;&nbsp;<strong>Cross Country</strong><br />
                &bull;&nbsp;&nbsp;<strong>Kho-Kho</strong><br />
                &bull;&nbsp;&nbsp;<strong>Badminton</strong><br />
                &bull;&nbsp;&nbsp;<strong>Table - Tennis</strong><br />
                &bull;&nbsp;&nbsp;<strong>Dies Through</strong><br />
                &bull;&nbsp;&nbsp;<strong>Kabaddi</strong><br />
                &bull;&nbsp;&nbsp;<strong>Volley Ball</strong>
            </p>
        </td>
    </tr>
</table>

