<div class="container">
    <br />
    <br />
</div>
<div class="containerMain">


    <table width="100%" border="0" cellspacing="0" cellpadding="0">

        <tbody>
            <tr>
                <td height="15px" align="center" valign="middle" class="content"> </td>
            </tr>
            <tr>
                <td align="left" valign="top" class="content" height="30px">
                    <p class="content-title" style="font-size:x-large; font-weight:bold">
                        Sports
                    </p>
                </td>
            </tr>
            <tr>
                <td align="left" valign="middle" class="content">
                    <p class="content-title">A : Play Ground</p>
                    <p>•&nbsp;&nbsp;<strong>Area : </strong>13980.28 sq. mt.</p>
                </td>
            </tr>
            <tr>
                <td align="left" valign="middle" class="content">
                    <br><p class="content-title">B : Indoor games</p>
                    <p>
                        •&nbsp;&nbsp;<strong>Chess</strong><br>
                        •&nbsp;&nbsp;<strong>Carrom</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td align="left" valign="middle" class="content">
                    <br><p class="content-title">C : Other sports</p>
                    <p>
                        •&nbsp;&nbsp;<strong>Cross Country</strong><br>
                        •&nbsp;&nbsp;<strong>Kho-Kho</strong><br>
                        •&nbsp;&nbsp;<strong>Badminton</strong><br>
                        •&nbsp;&nbsp;<strong>Table - Tennis</strong><br>
                        •&nbsp;&nbsp;<strong>Dies Through</strong><br>
                        •&nbsp;&nbsp;<strong>Kabaddi</strong><br>
                        •&nbsp;&nbsp;<strong>Volley Ball</strong>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

</div>