
@{
    ViewBag.Title = "FacultyOfEdcation";
}

<table border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td>
                <p>
                    Level of the Course
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    Secondary Teacher Education programme
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <p>
                    2. Name of the Teacher Education Course
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    B.A B.Ed.
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <p>
                    3. Duration of the Course
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    FOUR year
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <p>
                    4. Whether to be conducted in face to face or distance mode
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    face to face mode
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <p>
                    5. Proposed Intake
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    50 studnets
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <p>
                    7. Details of affiliated body
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    University of Rajasthan, Jaipur (Rajasthan).
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Level of the Course
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    Secondary Teacher Education programme
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <p>
                    2. Name of the Teacher Education Course
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    B.Sc B.Ed.
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <p>
                    3. Duration of the Course
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    FOUR year
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <p>
                    4. Whether to be conducted in face to face or distance mode
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    face to face mode
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <p>
                    5. Proposed Intake
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    50 studnets
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <p>
                    7. Details of affiliated body
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    University of Rajasthan, Jaipur (Rajasthan).
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td>
                <p>
                    Level of the Course
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    Secondary Teacher Education programme
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <p>
                    2. Name of the Teacher Education Course
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    D.El.Ed
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <p>
                    3. Duration of the Course
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    Two year
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <p>
                    4. Whether to be conducted in face to face or distance mode
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    face to face mode
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <p>
                    5. Proposed Intake
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    100 studnets
                </p>
            </td>
        </tr>
         
         
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <p>
                    7. Details of affiliated body
                </p>
            </td>
            <td>
            </td>
            <td>
                <p>
                    Directed Bikaner (Rajasthan).
                </p>
            </td>
        </tr>
    </tbody>
</table>
