
@{
    ViewBag.Title = "StudentCategoryWise";
}

<table class="tableizer-table">
    <tr class="tableizer-firstrow">
        <th>Student Category</th>
        <th>Student Strength</th>
    </tr>
    <tr>
        <td>
            <p>
                GENERAL
            </p>
        </td>
        <td>
            <p align="center">
                22
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                OBC
            </p>
        </td>
        <td>
            <p align="center">
                31
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                ST
            </p>
        </td>
        <td>
            <p align="center">
                13
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                SC
            </p>
        </td>
        <td>
            <p align="center">
                18
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                SBC
            </p>
        </td>
        <td>
            <p align="center">
                09
            </p>
        </td>
    </tr>
</table>

