@{
    ViewBag.Title = "TeachingSchool";
}
    <table>
        <tr>
            <td></td>
            <td>
                <img class="auto-style1" src="~/images/application_letter.jpg" />
            </td>
            <td></td>
        </tr>

    </table>