
@{
    ViewBag.Title = "AuditReport";
}

    <table>
        <tr>
            <td></td>
            <td>
                <img class="auto-style1" src="~/images/Audit_Report_001.jpg" />
            </td>
            <td></td>
        </tr> 
    </table>
