
@{
    ViewBag.Title = "Fee Structure";
}

<h2>Fee Structure</h2> 
<table  class="table table-bordered">
    <colgroup>
        <col  />
        <col />
        <col />
        <col />
        <col />
        <col />
    </colgroup>
    <thead>
        <tr>
            <th>
                COURSE WISE FEE STRUCTRE
            </th>
            <th>
                TUTION FEE
            </th>
            <th>
                MISCLLOUS FEE
            </th>
            <th>
                COMPUTER FEE
            </th>
            <th>
                OTHEER ACTIVITY
            </th>
            <th>
                TOTAL
            </th>
        </tr>
    </thead>
    <tbody> 
        <tr>
            <td >
                B.Ed 1 YEAR
            </td>
            <td>
                17880
            </td>
            <td>
                4440
            </td>
            <td>
                960
            </td>
            <td>
                3600
            </td>
            <td>
                26880
            </td>
        </tr>
        <tr>
            <td >
                B.Ed 2 YEAR
            </td>
            <td>
                17880
            </td>
            <td>
                4224
            </td>
            <td>
                960
            </td>
            <td>
                3600
            </td>
            <td>
                26664
            </td>
        </tr>
        <tr>
            <td >
                B.A. B. Ed /B.Sc. B.Ed. 1 YEAR
            </td>
            <td>
                17880
            </td>
            <td>
                4440
            </td>
            <td>
                960
            </td>
            <td>
                3600
            </td>
            <td>
                26880
            </td>
        </tr>
        <tr>
            <td >
                B.A. B. Ed /B.Sc. B.Ed. 2 YEAR
            </td>
            <td>
                17880
            </td>
            <td>
                4224
            </td>
            <td>
                960
            </td>
            <td>
                3600
            </td>
            <td>
                26664
            </td>
        </tr>
        <tr>
            <td >
                B.A. B. Ed /B.Sc. B.Ed. 3 YEAR
            </td>
            <td>
                17880
            </td>
            <td>
                4224
            </td>
            <td>
                960
            </td>
            <td>
                3600
            </td>
            <td>
                26664
            </td>
        </tr>
        <tr>
            <td >
                B.A. B. Ed /B.Sc. B.Ed. 44 YEAR
            </td>
            <td>
                17880
            </td>
            <td>
                4224
            </td>
            <td>
                960
            </td>
            <td>
                3600
            </td>
            <td>
                26664
            </td>
        </tr>
        <tr>
            <td >
                D.El.Ed 1 YEAR
            </td>
            <td>
                9000
            </td>
            <td>
                4700
            </td>
            <td>
                800
            </td>
            <td>
                1750
            </td>
            <td>
                16250
            </td>
        </tr>
        <tr>
            <td  >
                D.El.Ed 2 YEAR
            </td>
            <td>
                9000
            </td>
            <td>
                4700
            </td>
            <td>
                800
            </td>
            <td>
                1750
            </td>
            <td>
                16250
            </td>
        </tr>
    </tbody>
</table>