
@{
    ViewBag.Title = "Institute_Detail";
}


<div>
    <strong class="h3">Institute Detail -</strong>

    <div align="center">
        <table border="1" cellspacing="0" cellpadding="0" width="99%">
            <tbody>
                <tr>
                    <td>
                        NAME OF THE UNIVERSITY

                    </td>
                    <td>

                        <strong>UNIVERSITY</strong>
                        <strong>OF RAJASTHAN</strong>
                        <strong>, JAIPUR</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        NAME OF THE COLLEGE

                    </td>
                    <td>

                        <strong>MAHATMA</strong>
                        <strong>GANDHI TEACHER TRAINING COLLEGE</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        ADDRESS

                    </td>
                    <td>

                        <address>
                            <strong>Mandwar Road</strong>
                        </address>
                        <strong>, Mahwa</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        CITY WITH PIN CODE NO.

                    </td>
                    <td>

                        <strong>Mahawa - 321608</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        NEAREST RAILWAY STATION

                    </td>
                    <td>

                        <address>
                            <strong>Mandawar Road</strong>
                        </address>
                        <strong>Mahwa</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        YEAR OF ESTABLISHMENT

                    </td>
                    <td>

                        <strong>2008</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        PHONE NO. WITH STD CODE

                    </td>
                    <td>

                        <strong>00000</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        FAX

                    </td>
                    <td>

                        <strong>00000</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        E-MAIL ADDRESS

                    </td>
                    <td>

                        <strong>mahatmagandhittcollege@yahoo.in</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        WEBSITE

                    </td>
                    <td>

                        <strong>www.mg-ttc.org</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        NAME OF THE BANK/ BRANCH

                    </td>
                    <td>

                        <strong>Central Bank of India, Mahwa, dausa</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        CBI ACCOUNT NUMBER

                    </td>
                    <td>

                        <strong>0003327841254</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        NAME OF PRINCIPAL/ DIRECTOR

                    </td>
                    <td>

                        <strong>Sh. Prahlad Sharma</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        TELEPHONE NO. (OFFICE)

                    </td>
                    <td>

                        <strong>07461-234234</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        TELEPHONE NO. (RESIDENCE)

                    </td>
                    <td>

                        <strong>.</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        MOBILE

                    </td>
                    <td>

                        <strong>9414248140</strong>


                        <strong></strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        TYPE OF COLLEGE (GOVT./ AIDED/ S.F./ UNIVERSITY)

                    </td>
                    <td>

                        <strong>SELF FINANCED</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        CATEGORY OF SEATS (CO-EDU./ BOYS/ GIRLS)

                    </td>
                    <td>

                        <strong>CO-EDU.</strong>

                    </td>
                </tr>
                <tr>
                    <td>
                        HOSTEL FACILITY (BOYS/ GIRLS/ BOTH) AVAILABLE/ NOT AVAILABLE

                    </td>
                    <td>

                        <strong>NOT AVAILABLE</strong>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

