
@{
    ViewBag.Title = "LocationAfftliation";
}

<iframe id="fred" style="border: 1px solid #666CCC" title="NCTE NOC" src="~/Docs/NCTE NOC.pdf"
        frameborder="1" scrolling="auto" height="1100" width="90%"></iframe>
<br />
<br />
<iframe id="fred1" style="border: 1px solid #666CCC" title="NCTE NOC_1" src="~/Docs/NCTE NOC_1.pdf"
        frameborder="1" scrolling="auto" height="1100" width="90%"></iframe>
<br />
<br />
<iframe id="fred1" style="border: 1px solid #666CCC" title="ncte  NAME CHANG" src="~/Docs/ncte  NAME CHANG.pdf"
        frameborder="1" scrolling="auto" height="1100" width="90%"></iframe>
<br />
<br />
<iframe id="fred1" style="border: 1px solid #666CCC" title="NCTE INTAK" src="~/Docs/NCTE INTAK.pdf"
        frameborder="1" scrolling="auto" height="1100" width="90%"></iframe>
<br />
<br />
<iframe id="fred1" style="border: 1px solid #666CCC" title="NCTE ORDER STC" src="~/Docs/NCTE ORDER STC.pdf"
        frameborder="1" scrolling="auto" height="1100" width="90%"></iframe>
<br />
<br />
<p>
    <img class="style1 w-100" src="~/images/Affilation.jpg" />
</p>
