
@{
    ViewBag.Title = "TeachingSchool";
}

<style type="text/css">
    table.tableizer-table {
        border: 1px solid #CCC;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        width: 700px;
    }

    .tableizer-table td {
        padding: 4px;
        margin: 3px;
        border: 1px solid #ccc;
    }

    .tableizer-table th {
        background-color: #104E8B;
        color: #FFF;
        font-weight: bold;
    }
</style>

<table class="tableizer-table">
    <tr class="tableizer-firstrow">
        <th>Teaching School List Session- 2015-16</th>
    </tr>
    <tr>
        <td>
            Chetna Public Secondary School, Mahwa.
        </td>
    </tr>
    <tr>
        <td>
            Adarsh Shiksha Sadan Secondary School, Mahwa.
        </td>
    </tr>
    <tr>
        <td>
            Govt. Upper Primary School, Shahadpur.
        </td>
    </tr>
    <tr>
        <td>
            Saini Adarsh Sadan Vidhya Mandir, Mahwa.
        </td>
    </tr>
</table>

