<table class="table table-striped">
    <thead>
        <tr> 
            <th>Name</th>
            <th>Description</th>
            <th></th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model.Documents)
        {
            <tr> 
                <td>@file.DocName</td>
                <td>@file.DocUrl</td>
                <td>
                    <a href="/AdminDocument/DownloadFile?id=@file.ID" target="_blank" class="btn btn-primary" asp-controller="AdminDocument" asp-action="DownloadFile" asp-route-id="@file.ID">Download</a>
                </td> 
            </tr>
        }
    </tbody>
</table>