<div class="container">
    <div class="containerMain">

        <p>&nbsp;</p>
        <h2>Mahatma Gandhi Teacher Training College</h2>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>President’s Name -&nbsp;&nbsp;&nbsp;</p>
        <p><strong>Sh. Prahalad Kumar sharma</strong></p>
        <p>Mob- 9414248140, 9887803225</p>
        <p>E-Mail- ID- <a href="mailto:mahatamagandhittcollege@yahoo.in">mahatamagandhittcollege@yahoo.in</a></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Secretary’s Name -&nbsp;</p>
        <p><strong>Sh. Jitendra Kumar Sharma </strong></p>
        <p>Mob. No.- 9667317951</p>
        <p>E-Mail- ID- <a href="mailto:jitendrasharma568@gmail.com">jitendrasharma568@gmail.com</a></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </div>
</div>
