<div class="container">
    <br />
    <h2>Address:</h2>
    <br />
    <h3>Principal</h3>
    <img src="~/images/contact.png" style="float: left; margin-right: 40px" />

    <h3>Vijay Industrial Training Center</h3>
    <br />
    <b>Bandikui, Distt-Dausa -303313</b>
    <br />
    Mobile  :  +91-9887033185, +91-8107650607
    <br />
    Email : pvt_iti_p431@yahoo.in
    <br />
    website : <a href="http://www.vijayitcbandikui.com/">www.vijayitcbandikui.com</a>
    <br />
    <br />
</div>
