<div class="container">
    <br />
    <div>
        <h4>Que- What is scope after doing ITI ? </h4>
        <p>
            After completing the engineering trading course in ITI, one can go for higher studies like diploma in engineering. There are also specialized short-term courses for certain trades, offered in Advanced Training Institutes (ATI's), which enhances the skills of candidates. Most industries/ companies accept ITI graduates only as apprentices and they train them for a period of 6 months to 1-2 years, depending on the company.
            <br />
            They may be considered suitable for employment only after the training period. Reputed ITI's and ITC's have their own placement cells and candidates after completing their trades may be directly recruited to the companies.
        </p>
        <h4>What is Eligibility & Course duration of ITI?</h4>
        <p>
            A pass in 10th standard (SSLC/ matriculation) or equivalent is the minimum eligibility required to obtain admission to ITI / ITC, that are made usually in the month of August every year.
            <br />

            The duration of the trade/ course may vary from one year to three years, depending on the field chosen.
        </p>
        <h4>What are Job Prospects & Career Options of ITI</h4>
        <p>
            After completing the engineering trading course in ITI, one can go for higher studies like diploma in engineering. There are also specialized short-term courses for certain trades, offered in Advanced Training Institutes (ATI's), which enhances the skills of candidates. Most industries/ companies accept ITI graduates only as apprentices and they train them for a period of 6 months to 1-2 years, depending on the company.
            <br />
            They may be considered suitable for employment only after the training period. Reputed ITI's and ITC's have their own placement cells and candidates after completing their trades may be directly recruited to the companies. Based on the trade opted, ITI qualified candidates can apply for jobs in the private sector and public sector. Electronics, welder, refrigeration and air-conditioner mechanic trade are the trades in ITI's, which are most in demand. Since electronics is the basic of almost every field, it has got a vast scope. Electronic mechanic trade graduates can find opportunities in Information technology firms and in the manufacturing units of electronics equipment. Both welders and air-conditioner mechanics have much scope in India and Abroad.
            <br />
            The major job openings of an A/C mechanic are in the different sections of the Public Service Commission (PSC) and in railways, as technicians, instructors etc. Opportunities for fitters are immense in on shore and off shore areas such as oil and gas, factories, shipyards etc. Those with electrician trade can find openings in the electricity board / department for which the recruitment is through PSC (Public service Commission) Exams.Job opportunities are also available in government organizations like Indian Army, Indian Navy, Air force, Railways, Telecom and paramilitary forces like BSF (Border Security Force), CRPF (Central Reserve Police Force) etc. Besides these, ITI passed out candidates can find self employment by setting up their own garage, winding shops, fabrication shops etc.
        </p>
    </div>
    <br />
</div>