<div class="container">
    <br />
    <div>
        <table class="tableizer-table">
            <tr class="tableizer-firstrow"><th>S.No</th><th>&nbsp;</th><th>&nbsp;</th></tr>
            <tr><td>a</td><td>Name Of The Institute</td><td>Vijay INDUSTRIAL TRAINING INSTITUTE </td></tr>
            <tr><td>b</td><td>Address Of Institute</td><td> Bandikui (DAUSA)</td></tr>
            <tr><td>c</td><td>Date Of Establishment</td><td>&nbsp;</td></tr>
            <tr><td>d</td><td>DGET File Reference No.</td><td></td></tr>
            <tr><td>e</td><td>Code Allotted By DGET</td><td>&nbsp;</td></tr>
            <tr><td>f</td><td>Contact Nos.</td><td>+91-8107650607</td></tr>
            <tr><td>g</td><td>Mobile No.</td><td>+91-9887033185</td></tr>
            <tr><td>h</td><td>Fax No.</td><td>01420-225913</td></tr>
            <tr><td>i</td><td>E-Mail ID</td><td>pvt_iti_p431@yahoo.in</td></tr>
            <tr><td>j</td><td>Location-Rural/Urban</td><td>Urban</td></tr>
            <tr><td>k</td><td>Approach / How to Reach </td><td></td></tr>
        </table>

    </div>
    <br />
</div>