<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 5.4.13
    </div>
    <strong>
        Website &copy; Copyrighted All Rights reserved. Powered by:<a href="http://kincid.com/">
    Kincid
</a>
    </strong>
</footer>
