<div class="entry-content" style="font-size:xx-large; color:blue;font-weight:bold">Aims & Objective</div>
<div class="entry-content">
    <h4>Vision</h4>
    <p>To impart proper education &amp; training to the future teachers so that they can actively take part in the social development of the common mass.</p>
    <h4>Objective of our Institution</h4>
    <ul>
        <li>To prepare dedicated teachers for improvement of the school education system in the state of Jharkhand and nation.</li>
        <li>To make teachers well-equipped to teach at schools in secondary and Senior Secondary level.</li>
        <li>To train the teachers so that they are fit on all the fronts, i.e. social, mental, physical, moral, cultural and spiritual.</li>
        <li>To help them excel in academic as well as other areas of prosperity.</li>
        <li>To provide opportunities to enhance their competence and knowledge construction abilities in creating positive learning atmosphere in schools.</li>
        <li>To enable teachers to understand child psychology so that teaching-learning-processes could be designed by themself accordingly.</li>
        <li>To innovate in educational technology.</li>
        <li>To adopt and renew the relevant techniques of teaching skill development.</li>
        <li>To equipe teachers with necessary soft skills and attitude.</li>
    </ul>
</div>