<img src="#" />
<div align="center">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td colspan="4">

                    <b>Mahatma Gandhi T. T. College, Mahwa (Dausa)</b>
                </td>
            </tr>
            <tr>
                <td>

                    <b>Sr. no.</b>
                </td>
                <td>

                    <b>Space/Building</b>
                </td>
                <td>

                    <b>Area (Sq. Mt.)</b>
                </td>
                <td>

                    <b>Area (Sq. ft.)</b>
                </td>
            </tr>
            <tr>
                <td>
                    •&nbsp;
                </td>
                <td>
                    Total Land Area
                </td>
                <td>
                    3200
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    •&nbsp;
                </td>
                <td>
                    Total Construction Area
                </td>
                <td>
                    1816.87
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    •&nbsp;
                </td>
                <td>
                    Ground Floor
                </td>
                <td>
                    1001.00
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    •&nbsp;
                </td>
                <td>
                    First Floor
                </td>
                <td>
                    815.87
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    <p>
                        <b>CLASS ROOMS</b>
                    </p>
                </td>
                <td>
                    <p>
                        <b>&nbsp;</b>
                    </p>
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    •&nbsp;Class Rooms No. - 1
                </td>
                <td>
                    46.39
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    •&nbsp;Class Rooms No. - 2
                </td>
                <td>
                    46.49
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    •&nbsp;Class Rooms No. - 3
                </td>
                <td>
                    46.88
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    •&nbsp;Multipurpose Room No. - 4
                </td>
                <td>
                    205.54
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>

                    <b>LABORATORIES</b>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    •&nbsp;Science Lab
                </td>
                <td>
                    51.41
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    •&nbsp;Psychology Lab
                </td>
                <td>
                    55.39
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    •&nbsp;Language Lab
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    •&nbsp; E.T. Lab &amp;&nbsp;Computer Lab
                </td>
                <td>
                    56.27
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>

                    <b>Library</b>
                </td>
                <td>
                    94.86
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    SUPW &amp; Art &amp; Crafts Room
                </td>
                <td>
                    49.86
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    Sports Store Room
                </td>
                <td>
                    63.30
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    6
                </td>
                <td>
                    Multipurpose Hall
                </td>
                <td>
                    205.54
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    7
                </td>
                <td>
                    Seminar Hall
                </td>
                <td>
                    68.85
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    8
                </td>
                <td>
                    Principal’s Room
                </td>
                <td>
                    30.00
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    9
                </td>
                <td>
                    Office Room
                </td>
                <td>
                    3.97
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Staff room
                </td>
                <td>
                    24.68
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    11
                </td>
                <td>
                    Girl’s Common Room
                </td>
                <td>
                    26.90
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    12
                </td>
                <td>
                    Other (Specify) Store Room
                </td>
                <td>
                    55.15
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div>
<img src="#" /><br />
<img src="#" />