<div class="container">
    <br />
</div>
<div class="container">
    <table border="1" style="width:800px" >
        <tr class="tableizer-firstrow" style="text-align:center; background-color:aqua">
            <th>Teaching School List Session- 2015-16</th>
        </tr>
        <tr>
            <td>
                Chetna Public Secondary School, Mahwa.
            </td>
        </tr>
        <tr>
            <td>
                Adarsh Shiksha Sadan Secondary School, Mahwa.
            </td>
        </tr>
        <tr>
            <td>
                Govt. Upper Primary School, Shahadpur.
            </td>
        </tr>
        <tr>
            <td>
                Saini Adarsh Sadan Vidhya Mandir, Mahwa.
            </td>
        </tr>
    </table>
    <br />
</div>