<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <p>
                    <b>Mahatma Gandhi Teacher Training College</b>
                    <br /><br />
                    Mandawar  road, Mahwa
                    <br/> Dist-Dausa, Rajasthan
                </p>
            </div> 
            <div class="col-lg-4">
               
            </div>
            <div class="col-lg-3">
                <h3 class="footer-heading"><span>Contact</span></h3>
                <ul class="list-unstyled">
                    <li><a href="~/ContactUs/ContactUs"><span style="color:white">Contact Us</span></a></li>
                    <li><a href="~/ContactUs/HowToReach"><span style="color:white">How To Reach</span></a></li> 
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="copyright">
                    <p>
                        Website Copyrighted &copy; All Rights reserved. <br />
                        Powered by: Kincid <br />
                        Last Updated on - <span id="getdate"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('getdate').innerText = new Date(Date.now()).toLocaleDateString();
    //document.write(new Date().getDate() + '-' + new Date().getMonth() + 1 + '-' + new Date().getFullYear());
</script>
