<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"> 
                <p>
                    <b>VIJAY INDUSTRIAL TRAINING CENTER</b>
                    <br /><br />
                    Bandikui, Dist-Dausa, Rajasthan
                </p> 
            </div>
            <div class="col-lg-3"> 
                <h3 class="footer-heading"><span>Trainee List</span></h3>
                <ul class="list-unstyled">
                    <li ><a href="~/Trainee/TraineeList"><span style="color:white">Trainee List</span></a></li>
                    <li><a href="~/Trainee/Result"><span style="color:white">Result</span></a></li>
                    <li><a href="~/Trainee/AdmissionCriteria"><span style="color:white">AdmissionCriteria</span></a></li>
                    <li><a href="~/Trainee/Syllabus"><span style="color:white">Syllabus</span></a></li>
                    <li><a href="~/Trainee/TradeWiseDetails"><span style="color:white">TradeWiseDetails</span></a></li> 
                </ul>
            </div>
            <div class="col-lg-3">
                 <h3 class="footer-heading"><span>Infrastructure & Facility</span></h3>
                <ul class="list-unstyled">  
                    <li><a href="~/InfrastructureFacility/InfrastructureBuiliding"><span style="color:white">Infrastructure &amp; Facility</span></a></li>
                    <li><a href="~/InfrastructureFacility/PowerSupply"><span style="color:white">PowerSupply</span></a></li>
                    <li><a href="~/InfrastructureFacility/MedicalFacilities"><span style="color:white">MedicalFacilities</span></a></li>
                    <li><a href="~/InfrastructureFacility/ToolEquipments"><span style="color:white">Tool &amp; Equipmets</span></a></li> 
                </ul>
            </div>
            <div class="col-lg-3">
                <h3 class="footer-heading"><span>Contact</span></h3>
                <ul class="list-unstyled"> 
                    <li><a href="~/ContactUs/ContactUs"><span style="color:white">Cotact Us</span></a></li>
                    <li><a href="~/ContactUs/HowToReach"><span style="color:white">HowToReach</span></a></li>
                    <li><a href="~/ContactUs/Faq"><span style="color:white">Faq</span></a></li>
                    <li><a href="~/ContactUs/Feedback"><span style="color:white">Feedback</span></a></li>
                    <li><a href="~/ContactUs/HelpLinks"><span style="color:white">HelpLiks</span></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="copyright">
                    <p>
                        Website Copyrighted &copy; All Rights reserved. <br />
                        Powered by: VivoSoftware <br /> 
                        Last Updated on - 
                        <script>document.write(new Date().getDate() + '-' + new Date().getMonth()+1 + '-' + new Date().getFullYear());</script> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

