<div class="bg-light-blue">
    <header class="site-navbar js-sticky-header site-navbar-target mb-1" style="background-color:antiquewhite;" role="banner">
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="site-logo">
                    <a href="~/Default/Index" class="d-block">
                        MAHATMA GANDHI
                        <br />
                        <span>
                            Teacher Training Center
                        </span>
                    </a>
                </div>
                <div>
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li>
                                <a href="~/Default/Index">HOME</a>
                            </li>
                            <li class="has-children">
                                <a href="~/Institute/InstituteDetail" class="nav-link text-left">ABOUT INSTITUTE</a>
                                <ul class="dropdown">
                                    <li><a href="~/ImageGallery/Index">PHOTO GALLERY</a></li>
                                    <li><a href="~/Document/Index">DOCUMENTS</a></li>
                                    <li><a href="~/Institute/InstituteDetail">INSTITUTE DETAIL</a></li>
                                    <li><a href="~/Institute/Infrastruction">INFRASTRUCTURE</a></li>
                                    <li><a href="~/Institute/LocationAfftliation">LOCATION & AFFILIATION</a></li>
                                    <li><a href="~/Institute/ManagementCommittee">MANAGEMENT COMMITTEE</a></li>
                                    <li><a href="~/Institute/NocDetail">NOC DETAIL</a></li>
                                    <li><a href="~/Institute/AffiliationDetail">AFFILIATION DETAIL</a></li>
                                    <li><a href="~/Institute/AimsObjectives">AIMS OBJECTIVES</a></li>
                                    <li><a href="~/Institute/AuditReport">AUDIT REPORT</a></li>
                                    <li><a href="~/Institute/ApplicationRegistration">APPLICATION & REGISTRATION</a></li>
                                    <li><a href="~/Institute/TeachingSchool">TEACHING SCHOOL</a></li>
                                    <li><a href="~/Institute/FeeStructure">FEE STRUCTURE</a></li>

                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="~/Facilities/SportsFacilites" class="nav-link text-left">FACILITIES</a>
                                <ul class="dropdown">
                                    <li><a href="~/Facilities/SportsFacilites">SPORTS FACILITIES</a></li>
                                    <li><a href="~/Facilities/Library">LIBRARY</a></li>
                                    <li><a href="~/Facilities/Laborator">LABORATORY</a></li>
                                    <li><a href="~/Facilities/ComputerLab">COMPUTER LAB</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="~/Staff/Index" class="nav-link text-left">STAFF & STUDENT </a>
                                <ul class="dropdown">
                                    <li><a href="~/StaffStudent/Staff">STAFF B.ED</a></li>
                                    <li><a href="~/StaffStudent/Staffd">STAFF D.El.ED</a></li>
                                    <li><a href="~/StaffStudent/StaffI">STAFF INTEGRATED</a></li>
                                    <li><a href="~/StaffStudent/StudentList">STUDENT LIST</a></li>
                                    <li><a href="~/StaffStudent/Course">COURSE</a></li>
                                    <li><a href="~/StaffStudent/FacultyOfEdcation">FACULTY</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="~/Contact/Index" class="nav-link text-left">CONTACT US</a>
                            </li>
                            <a href="~/Login/Login" class="btn btn-primary px-4 py-2 rounded-0">
                            <span class="icon-users"></span> Log In</a>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>
<div class="clearfix mt-2 mb-2"></div>
