<div class="py-2 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 d-none d-lg-block">
                <a href="~/ContactUs/Feedback" class="mr-3"><span class="icon-question-circle-o mr-2"></span> Have a questions?</a>
                <a href="#" class="mr-3"><span class="icon-phone2 mr-2"></span> +91-9887033185</a>
                <a href="#" class="mr-3"><span class="icon-envelope-o mr-2"></span> pvt_iti_p431@yahoo.in</a>
            </div>
            <div class="col-lg-3 text-right">
                <a href="~/Login/Login" class="btn btn-primary px-4 py-2 rounded-0"><span class="icon-users"></span> Log In</a> 
            </div>
        </div>
    </div>
</div>
<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="site-logo">
                <a href="~/Home/Home" class="d-block">
                    Vijay
                    <br />
                    <span>
                        Industrial Training Institute
                    </span> 
                </a>
            </div>
            <div  >
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li class="has-children">
                            <a href="~/Home/Defult">Home</a>
                            <ul class="dropdown">
                                <li><a href="~/Home/Mission">Mission & Objective</a></li>
                                <li><a href="~/Home/Aboutus">History & AboutUs</a></li>
                                <li><a href="~/Home/Institute">Institute Management</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="~/Trainee/TraineeList" class="nav-link text-left">Trainee</a>
                            <ul class="dropdown">
                                <li><a href="~/Trainee/TraineeList">Trainee List</a></li>
                                <li><a href="~/Trainee/Result">Result</a></li>
                                <li><a href="~/Trainee/AdmissionCriteria">Admission Criteria</a></li>
                                <li><a href="~/Trainee/Syllabus">Syllabus</a></li>
                                <li><a href="~/Trainee/TradeWiseDetails">Trade-Wise Details</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="~/Staff/AcademicStaff" class="nav-link text-left">Staff</a>
                            <ul class="dropdown">
                                <li><a href="~/Staff/AcademicStaff">Academic Staff</a></li>
                                <li><a href="~/Staff/TechnicalStaff">Technical Staff</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="~/InfrastructureFacility/InfrastructureBuiliding" class="nav-link text-left">Infrastructure & Facility</a>
                            <ul class="dropdown">
                                <li><a href="~/InfrastructureFacility/InfrastructureBuiliding">Infrastructure & Builiding</a></li>
                                <li><a href="~/InfrastructureFacility/PowerSupply">Power Supply</a></li>
                                <li><a href="~/InfrastructureFacility/MedicalFacilities">Medical Facilities</a></li>
                                <li><a href="~/InfrastructureFacility/ToolEquipments">Tool & Equipments</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="~/ITI/Certifications" class="nav-link text-left">ITI</a>
                            <ul class="dropdown">
                                <li><a href="~/ITI/StateDirectorate">State Directorate</a></li>
                                <li><a href="~/ITI/RightToInformation">Right To Information</a></li>
                                <li><a href="~/ITI/Certifications">Certifications</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="~/AboutUs/AffiliatedTradeDetail " class="nav-link text-left">About Us</a>
                            <ul class="dropdown">
                                <li><a href="~/AboutUs/AffiliatedTradeDetail">Affiliated trade detail</a></li>
                                <li><a href="~/AboutUs/Gallery">Gallery</a></li>
                                <li><a href="~/AboutUs/InspectionDetail">Inspection detail</a></li>
                                <li><a href="~/AboutUs/Scheme">Scheme</a></li>
                                <li><a href="~/AboutUs/Visitors">Visitors</a></li>
                                <li><a href="~/AboutUs/ApplicationFormat">Application format</a></li>
                                <li><a href="~/AboutUs/CourtCase">Court Case</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="~/ContactUs/ContactUs" class="nav-link text-left">Contact Us</a>
                            <ul class="dropdown">
                                <li><a href="~/ContactUs/ContactUs">Contact</a></li>
                                <li><a href="~/ContactUs/HowToReach">How to Reach</a></li>
                                <li><a href="~/ContactUs/Faq">Faq</a></li>
                                <li><a href="~/ContactUs/Feedback">Feedback</a></li>
                                <li><a href="~/ContactUs/HelpLinks">Help Links</a></li>
                            </ul>
                        </li>
                    </ul>                                                                                                                                                                                                                                                                                          </ul>
                </nav>
            </div> 
        </div>
    </div>
</header>
