@model List<ITI.Models.NewsTableModel>
<div class="container">
    <div class="row">
        <div class="col-lg-2 order-1 order-lg-2 mb-4 mb-lg-0">
            <h2 class="section-title-underline mb-5">
                <span>Latest News</span>
            </h2>
            @{ foreach(var p in Model ){
                    <p>@p.NewsText</p>
            }}
            <div>
            </div>
        </div>
        <div class="col-lg-9 mr-auto align-self-center order-2 order-lg-1">
            <h2 class="section-title-underline mb-5">
                <span>Welcome to Mahatma Gandhi Teacher Training Center</span>
            </h2>
            <p>
                Mahatma Gandhi Teacher Training Center seeks to impart all round education to the students through the promotion of human values and principles. The emphasis is also on developing the students from the marginalized sections of the society. The College playing fields for out-door games. College awards each year a number of prizes to students for high achievement in academic & extra-curricular activities. What is more important is the space it has provided to the students to freely express and develop views that help them respond to changes in future.
            </p>
            <p>
                Mahatma Gandhi Teacher Training Center offers liberal education to number of students. The faculty is renowned for their meritorious profile, versatile talent and dedication to education. The college has produced students who have excelled in various professions and have contributed in numerous ways to society at large. The college offers a wide choice in facilities, which makes it easier for the students to pursue the course of their choice. Also, in order to make the education system more effective, separate classes. Our students, teachers, and staff come together in a true community of scholars to advance knowledge, address societal challenges and pursue intellectual and personal fulfillment.
                <br />
                Mahatma Gandhi Teachers' Training College offers teachers' training program leading to excellent careers as educators, psychologists, administrators, researchers and educational specialists. Mahatma Gandhi Teachers' Training College offers numerous opportunities with highly cited faculties, institutes and laboratories. Our staff are respected as leaders in a wide range of curriculum areas, as consultants to a range of institutions nationally and internationally, and as facilitators of professional development contracts. One of the largest and most diverse institutions of its kind in the nation.
            </p>
        </div>
    </div>
</div>