@model IEnumerable<ITI.Models.StudentModel>
<div class="content">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-md-12 text-right">
                <div class="col-md-10">

                </div>
                <div class="col-md-2"> 
                    <a href="/admin/student/create" class="btn btn-block btn-primary btn-lg">Create</a>
                </div>
            </div>
            <div class="box">
                <div class="box-body">

                    <div class="row">
                        <table class="table table-bordered">
                            <tr>
                                <th>Name</th>
                                <th>Father Name</th>
                                <th>Date of Birth</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>

                            @foreach (var student in Model){
                            <tr>
                                <td>@student.Name</td>
                                <td>@student.FatherName</td>
                                <td>@student.MotherName</td>
                                <td><a href="/admin/student/create?id=@student.ID" class="update btn btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                                <td><a href="/admin/student/delete?id=@student.ID" class="update btn btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                            </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>